@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Oswald:wght@200&display=swap");
* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: rgb(15, 26, 37);
  font-family: Oswald;
  color: #fff;
}

li {
  list-style: none;
}
a:visited,
a:focus,
a:link {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: black;
}
/* NAVBAR*/

.navbar {
  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 20px;

  background-color: rgb(15, 26, 37);

  color: #fff;
}

/* TITULO */

.titulo {
  font-family: Oswald;
  font-size: 32px;
  font-weight: bold;
}

/* NAVBAR MENU */

.menu {
  display: flex;

  gap: 1em;

  font-size: 24px;

  text-decoration: none;
}

.menu li:hover {
  background-color: #fff;

  border-radius: 60px;

  transition: 0.5s ease;
  color: black;
}

.menu li {
  padding: 5px 14px;
}

/* MOBILE y DESKTOP */

@media (max-width: 640px) {
  .menu {
    display: none;
  }
}

@media (min-width: 641px) {
  .hamburger {
    display: none;
  }
  .menu {
    text-align: center;
  }
}
.dropdown {
  background-color: rgb(15, 26, 37);

  padding: 1em 0;

  display: none;

  border-radius: 8px;

  top: 35px;
}

.dropdown li + li {
  margin-top: 7px;
}

.dropdown li {
  width: 8em;

  text-align: center;
}

.dropdown li:hover {
  background-color: #fff;
  border-radius: 60px;
  transition: 0.2s ease;
  color: black;
}

.hamburger:hover .dropdown,
.hamburger:focus .dropdown,
.hamburger:active .dropdown {
  display: block;
}

/* HERO */
.banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 88px);
  background-color: #cecece;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease-in-out;
  background-image: url("./images/img_1.jpg");
  animation: banner 24s infinite linear;
}
.banner-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 28, 50, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-content h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  font-size: 32px;
  text-align: center;
}
.banner-content a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #fff;
  transition: all 0.5s ease-in-out;
}
.banner-content a:hover {
  background-color: #fff;
  color: black;
}
@keyframes banner {
  0% {
    background-image: url("./images/img_1.jpg");
  }
  33.3% {
    background-image: url("./images/img_1.jpg");
  }
  33.4% {
    background-image: url("./images/img_2.jpg");
  }
  66.6% {
    background-image: url("./images/img_2.jpg");
  }
  66.7% {
    background-image: url("./images/img_3.jpg");
  }
  100% {
    background-image: url("./images/img_3.jpg");
  }
}

/* EXPERIENCE */

.text {
  color: #fff;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  font-size: 24px;
  text-align: center;
}
.linea-experience {
  border-color: #000000;
}
.experience-proyectos {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 40px;
}
.text2 {
  font-size: 24px;
  margin: 5px;
  padding: 5px;
}
.experience-proyectos h3 {
  color: #fff;
  gap: 1em;
  font-size: 34px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}
.experience-proyectos img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
}
.experience-proyectos a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 10%;
  transition: all 0.2s ease-in-out;
}
.experience-proyectos a:hover {
  background-color: white;
  color: black;
}
@media (max-width: 640px) {
  .experience-proyectos p {
    font-size: 16px;
    margin: 5px;
    padding: 5px;
  }
  .experience-proyectos img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
    position: absolute;
  }
  .experience-proyectos h3 {
    color: #fff;
    gap: 1em;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
  }
  .experience-proyectos a {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    position: static;
  }
}
/* ABOUT ME */

.subtitulo {
  color: #fff;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  font-size: 64px;
  text-align: center;
}
.about-me p {
  color: #fff;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  font-size: 24px;
  text-align: center;
}
.bloque-about-me {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 40px;
}
.bloque-about-me p {
  font-size: 24px;
  margin: 5px;
  padding: 5px;
}
.bloque-about-me h3 {
  color: #fff;
  gap: 1em;
  font-size: 34px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}
.bloque-about-me img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
}
.bloque-about-me a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 10%;
  transition: all 0.2s ease-in-out;
}
.bloque-about-me a:hover {
  background-color: white;
  color: black;
}
@media (max-width: 640px) {
  .subtitulo {
    color: #fff;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
    font-size: 34px;
    text-align: center;
  }
  .bloque-about-me p {
    font-size: 16px;
    margin: 5px;
    padding: 5px;
  }
  .bloque-about-me img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
    position: absolute;
  }
  .bloque-about-me h3 {
    color: #fff;
    gap: 1em;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
  }
  .bloque-about-me a {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 80%;
    transition: all 0.2s ease-in-out;
    position: static;
  }
}
/* SKILLS */
:root {
  --bar-color1: rgb(223, 134, 10);
  --bar-color2: rgb(10, 120, 223);
  --bar-color3: rgb(137, 216, 11);
  --fill-size1: -45%;
  --fill-size2: -15%;
  --fill-size3: -30%;
}
.progress-bar {
  margin-left: 20px;
  position: relative;
  width: 400px;
  height: 40px;
  background-color: #020521;
  border-radius: 2em;
  overflow: hidden;
}
.progress-bar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bar-color1);
  transform: translateX(-100%);
  animation: fill-bar1 8s 1s ease-in-out forwards;
}
.progress-bar2 {
  margin-left: 20px;
  position: relative;
  width: 400px;
  height: 40px;
  background-color: #020521;
  border-radius: 2em;
  overflow: hidden;
}
.progress-bar2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bar-color2);
  transform: translateX(-100%);
  animation: fill-bar2 8s 1s ease-in-out forwards;
}
.progress-bar3 {
  margin-left: 20px;
  position: relative;
  width: 400px;
  height: 40px;
  background-color: #020521;
  border-radius: 2em;
  overflow: hidden;
}
.progress-bar3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bar-color3);
  transform: translateX(-100%);
  animation: fill-bar3 8s 1s ease-in-out forwards;
}
@keyframes fill-bar1 {
  to {
    transform: translateX(var(--fill-size1));
  }
}
@keyframes fill-bar2 {
  to {
    transform: translateX(var(--fill-size2));
  }
}
@keyframes fill-bar3 {
  to {
    transform: translateX(var(--fill-size3));
  }
}
#dot1 {
  margin-left: 500px;
  margin-right: 15px;
  height: 25px;
  width: 25px;
  background-color: rgb(223, 134, 10);
  border-radius: 50%;
  display: inline-block;
}
#dot2 {
  margin-left: 500px;
  margin-right: 15px;
  height: 25px;
  width: 25px;
  background-color: rgb(10, 120, 223);
  border-radius: 50%;
  display: inline-block;
}
#dot3 {
  margin-left: 500px;
  margin-right: 15px;
  height: 25px;
  width: 25px;
  background-color: rgb(137, 216, 11);
  border-radius: 50%;
  display: inline-block;
}
.skills-dot {
  display: flex;
}
@media (max-width: 640px) {
  #dot1 {
    margin-left: 80px;
  }
  #dot2 {
    margin-left: 80px;
  }
  #dot3 {
    margin-left: 80px;
  }
  .progress-bar {
    position: relative;
    width: 200px;
    height: 20px;
    background-color: #020521;
    border-radius: 2em;
    overflow: hidden;
  }
  .progress-bar2 {
    position: relative;
    width: 200px;
    height: 20px;
    background-color: #020521;
    border-radius: 2em;
    overflow: hidden;
  }
  .progress-bar3 {
    position: relative;
    width: 200px;
    height: 20px;
    background-color: #020521;
    border-radius: 2em;
    overflow: hidden;
  }
}
#btn-form {
  width: 100px;
  margin-left: 45px;
  margin-bottom: 60px;
  padding: 10px;
  background: #aa030300;
  color: rgb(255, 255, 255);
  border-radius: 20%;
  border: solid 1px #ffffff;
}
#btn-form:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: solid 1px #ffffff;
}
